body {
    margin: 0;
    text-align: center;
    font-family: 'Comic Sans MS';
}
.app {
    display:flex;
    flex-direction: column;
    background: #ccc;
    height:100vh;
}

.app.oscuro {
    height:100vh;
    background-color: #16171d;
    color:#9ca3af;
}

.paises {
    display: flex;
    flex-direction: column;
    
}

.checkboxes { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 20px; 
    margin-bottom: 30px; 
}

.checkboxes input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #5b5bd7;
    border-radius: 100px;
    margin:auto;
    cursor: pointer;
    transition: 0.2s;
}
.checkboxes input[type="checkbox"]:checked {
    background-color: #5b5bd7;
    
}

.region {
    display:flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background: #efefef;

}
.region.oscuro {
    border-color:#9ca3af;
    background-color: #16171d;
}


img {
    border-radius: 5px;
    border: 0.5px solid black;
    width: 100%;
}
p {
    font-family:sans-serif;
    text-decoration:underline 1px solid black;
}

.pais {
    text-align: center;
    border-top: 1px solid black;
    justify-content: center;
    padding:10px;
    background: #efefef;

}

.pais.oscuro {
    border-color:#9ca3af;
    background-color: #16171d;
}

.regiones {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background: #ccc;
}
.regiones.oscuro {
    background-color: #16171d;
}

.paisBandera {
    width: 500px;
    margin:auto;
}

li {
    list-style:none;
    margin-bottom: 0
}
ul {
    margin-top:20px;
    padding:0;
    margin-bottom: 0
}

button {
    margin:20px;
    border: 1px solid black;
    border-radius: 30px;
    padding:5px;
    background-color: #5b5bd7;
    color:#ccc;
    font-weight: bold;
}

button.oscuro {
    border: 1px solid #9ca3af;
    background-color: #ccc;
    color:#333;
}