body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.titulo {
  margin-left:50px;
  color:rgb(91, 91, 215)
}

.contenedor {
  display:flex;
  flex-wrap: wrap;
  flex-grow:1;
  flex-shrink:1;
  flex-basis:200px;
  justify-content: space-around;
}

.cuerpo {
  margin-left:2.5%;
  display:flex;
  flex-direction: row;
}


.carrito {
  width: 50%;
}


.pagina{  
  justify-items: center;
}
