body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.titulo {
  margin-left:50px;
  color:rgb(91, 91, 215)
}


.cuerpo {
  margin-left:2.5%;
  display:flex;
  flex-direction: row;
  width:100%;
}


.pagina{  
  justify-items: center;
}
